<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="TaloPay\Transfer\Plugin\CsrfValidatorSkip" />
    </type>

    <type name="TaloPay\Transfer\Logger\Handler\System">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="TaloPay\Transfer\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="TaloPay\Transfer\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">talopay</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">TaloPay\Transfer\Logger\Handler\System</item>
            </argument>
        </arguments>
    </type>

    <!-- <preference for="TaloPay\Transfer\Api\TaloPayManagementInterface" type="TaloPay\Transfer\Model\TaloPayManagement" /> -->
</config>
